* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #eeeff1;
    padding-left: 399px;
}

.header-container {
    display: flex;
    flex-direction: column;
    /* gap: 96px; */
}

.burger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 20px;
    cursor: pointer;
}

.burger span {
    display: block;
    height: 3px;
    width: 100%;
    background-color: #000;
    border-radius: 2px;
}

.close-btn {
    display: none;
}

.menu-list {
    list-style: none;
    display: flex;
    gap: 66px;
    margin-top: 79px;
}

.menu-items {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 164%;
    letter-spacing: 0.1em;
    color: #000;
}

.header-title {
    margin-top: 162px;
    margin-bottom: 60px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 48px;
    line-height: 164%;
    color: #000;
}

.header-article {
    width: 540px;
    margin-bottom: 65px;
}

.header-article-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 164%;
    color: #727272;
}


.header-button {
    width: 225px;
    height: 65px;
    background: #34547a;
    margin-bottom: 91px;
    /* Текст у кнопці */
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 164%;
    letter-spacing: 0.1em;
    text-align: center;
    color: #fff;
}

.about-me-container {
    max-width: 540px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.about-me-title {
    padding-top: 112px;
    margin-bottom: 50px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 32px;
    color: #000;
}

.about-me-article {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 164%;
    text-align: center;
    color: #727272;
    padding-bottom: 100px;
}


.ribbon {
    background-color: #34547a;
    /* margin-top: 374px; */

}

.ribbon-container {
    display: flex;
    justify-content: center;
    padding: 100px 0;
}

.ribbon-list {
    list-style: none;
    display: flex;
    gap: 45px;
}

.ribbon-items {
    display: flex;
}

.ribbon-items-img {
    width: 50px;
    height: 50px;
}

.ribbon-items-texts {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 25px;
}

.ribbon-items-texts-number {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 21px;
    color: #fff;
}

.ribbon-items-texts-line {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 164%;
    color: #fff;
}

.main {
    background: #eeeff1;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
}

.main-text {
    padding: 100px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.main-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 32px;
    text-align: center;
    color: #000;
}

.main-article {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 164%;
    text-align: center;
    color: #727272;
}

.video {
    position: relative;
    display: inline-block;
}

.img-video {
    width: 100%;
    max-width: 1100px;
    height: auto;
}

.img-video-icon {
    max-width: 100px;
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.footer {
    background: #34547a;
}

.footer-container {
    padding: 50px 0 50px 406px;
}

.footer-list {
    list-style: none;
}

.footer-list-item-name {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 21px;
    color: #fff;
}

.footer-list-item-rights {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 164%;
    color: #fff;
}

@media (min-width: 375px) and (max-width: 1200px) {
    .header {
        padding-left: 0;
    }

    .menu-list {}

    .header-title {
        text-align: center;
    }

    .header-article {
        width: 100%;
        text-align: center;
        padding: 0 18px;
    }

    .header-button {
        margin-bottom: 91px;
        margin-left: auto;
        margin-right: auto;
    }

    .ribbon {
        margin-top: 0;
    }

    .ribbon-container {}

    .ribbon-list {
        flex-direction: column;
    }

    .video {
        padding: 0 18px;
    }

    .img-video-icon {
        max-width: 50px;
    }

    .footer-container {
        padding-left: 0;
        text-align: center;
    }
}


@media (min-width: 768px) and (max-width: 1200px) {

    .menu-list {
        max-width: 540px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

}

@media (max-width: 768px) {
    .burger {
        display: flex;
        margin: 20px;
    }

    .menu-list {
        flex-direction: column;
        position: fixed;
        top: 0;
        left: -260px;
        width: 220px;
        height: 100%;
        background-color: #fff;
        padding: 60px 20px;
        gap: 20px;
        margin: 0;
        transition: left 0.3s ease;
        box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 0 10px 10px 0;
        z-index: 1000;
    }

    .menu-list.active {
        left: 0;
    }

    .close-btn {
        display: block;
        font-size: 30px;
        cursor: pointer;
        align-self: flex-end;
        margin-bottom: 20px;
    }
}


@media (min-width: 992px) and (max-width: 1200px) {
    .ribbon-list {
        flex-direction: row;
    }
}