@use "../abstracts" as *;

.header {
    background-color: $color-bg;
    padding-left: 399px;

    @include tablet {
        padding-left: 0;
    }

    &-container {
        display: flex;
        flex-direction: column;
    }

    &-title {
        margin: 162px 0 60px;
        font-family: $font-main;
        font-weight: 500;
        font-size: 48px;
        line-height: 164%;
        color: $color-black;

        @include tablet {
            text-align: center;
        }
    }

    &-article {
        width: $container-small;
        margin-bottom: 65px;

        &-text {
            font-family: $font-main;
            font-weight: 400;
            font-size: 16px;
            line-height: 164%;
            color: $color-gray;
        }

        @include tablet {
            width: 100%;
            text-align: center;
            padding: 0 18px;
        }
    }

    &-button {
        width: 225px;
        height: 65px;
        background: $color-accent;
        color: $color-white;
        font-family: $font-main;
        font-weight: 400;
        font-size: 16px;
        line-height: 164%;
        letter-spacing: 0.1em;
        text-align: center;
        margin-bottom: 141px;

        @include tablet {
            margin: 0 auto 91px;
        }
    }
}