.footer {
  background: #34547a;
}

.footer-container {
  padding: 50px 0 50px 406px;
}

@media (max-width: 1200px) {
  .footer-container {
    padding-left: 0;
    text-align: center;
  }
}

.footer-list {
  list-style: none;
}

.footer-list-item-name {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 21px;
  color: #fff;
  margin-bottom: 20px;
}

.footer-list-item-rights {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 164%;
  color: #fff;
}