@use "../abstracts" as *;

.footer {
    background: $color-accent;

    &-container {
        padding: 50px 0 50px 406px;

        @include tablet {
            padding-left: 0;
            text-align: center;
        }
    }

    &-list {
        list-style: none;

        &-item-name {
            font-family: $font-main;
            font-weight: 500;
            font-size: 21px;
            color: $color-white;
            margin-bottom: 20px;
        }

        &-item-rights {
            font-family: $font-main;
            font-weight: 400;
            font-size: 13px;
            line-height: 164%;
            color: $color-white;
        }
    }
}