@use "../abstracts" as *;

.burger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 20px;
    cursor: pointer;

    span {
        display: block;
        height: 3px;
        width: 100%;
        background-color: $color-black;
        border-radius: 2px;
    }

    @include mobile {
        display: flex;
        margin: 20px;
    }
}

.close-btn {
    display: none;

    @include mobile {
        display: block;
        font-size: 30px;
        cursor: pointer;
        align-self: flex-end;
        margin-bottom: 20px;
    }
}

.menu-list {
    list-style: none;
    display: flex;
    gap: 66px;
    margin-top: 79px;

    @include mobile {
        flex-direction: column;
        position: fixed;
        top: 0;
        left: -260px;
        width: 220px;
        height: 100%;
        background-color: $color-white;
        padding: 60px 20px;
        gap: 20px;
        margin: 0;
        transition: left 0.3s ease;
        box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 0 10px 10px 0;
        z-index: 1000;

        &.active {
            left: 0;
        }
    }

    @include tablet {
        max-width: $container-small;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}