@use "../abstracts" as *;

.ribbon {
    background-color: $color-accent;

    &-container {
        display: flex;
        justify-content: center;
        padding: 100px 0;
    }

    &-list {
        list-style: none;
        display: flex;
        gap: 49px;

        @include tablet {
            flex-direction: column;
        }

        @include media-query(992px, 1200px) {
            // якщо хочеш, можна додати точний breakpoint
            flex-direction: row;
        }
    }

    &-items {
        display: flex;

        &-img {
            width: 50px;
            height: 50px;
        }

        &-texts {
            display: flex;
            flex-direction: column;
            gap: 5px;
            margin-left: 20px;

            &-number {
                font-family: $font-main;
                font-weight: 500;
                font-size: 21px;
                color: $color-white;
            }

            &-line {
                font-family: $font-main;
                font-weight: 400;
                font-size: 16px;
                line-height: 164%;
                color: $color-white;
            }
        }
    }
}